header nav{
    background-color: rgb(251, 247, 227);
    border-radius: 50px;
    display: flex;
    width: 100%;
    
    flex-direction: column;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    

}
nav ul li {
    display: flex;
    justify-content: center;
    width: 50%; 
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    background-color: rgb(243, 223, 133);
    border-radius: 20px;
    padding: 5px;
    color: rgb(97, 36, 6);
    width: 100px;
    
    
    

    

}
.contenitore{display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;}



.uno, .due {
    width: 48%; 
    text-align: center;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(243, 223, 133);
    border-radius: 40px;
    color: rgb(97, 36, 6);
    margin-bottom: 14px;
    margin-left: 3px;
    margin-right: 3px;
}
.logo{
    width: 70%; 
    height: 60px;
    background-color: rgb(243, 223, 133);
    border-radius: 60px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    color: rgb(97, 36, 6);
    font-size: 2em;


}
.logo img{
    width: 30px;
    
}
 

